
<div class="social">
  <!-- <button type="button" aria-label="scroll-up" class="scrolltop-dev scrolltop">
     <span class="scroll-up-btn-icon"></span>
  </button> -->
  <div class="social-wrapper bottom_social position-fixed">
       <!--<a href="https://lin.ee/uDrVbvY" aria-label="octopus-line-contact">-->
       <a onclick="return gtag_report_conversion_1('https://lin.ee/uDrVbvY');" href="https://lin.ee/uDrVbvY" aria-label="octopus-line-contact">
       <div class="social-icon social-line-icon"></div>
       </a>

   
   
       <a href="https://www.facebook.com/OctopusMediaSolutions/" aria-label="octopus-facebook">
       <div class="social-icon social-fb-icon"></div>
       </a>
    
       <!-- <a href="http://bit.ly/octopusphotos"><div class="social-icon social-google-icon"></div></a> -->
       <a href="https://g.page/OctopusMediaSolutions?share" target="_blank" aria-label="octopus-google-map" rel="noopener">
       <div class="social-icon social-map-icon"></div>
       </a>
       
       <a href="https://www.octopus.co.th/en/pages/logo-signage-printing-shop" target="_blank" rel="noopener" aria-label="english-page">
       <div class="social-icon social-tab-en-icon"></div>
       </a>
        
         <!--<a href="http://m.me/OctopusMediaSolutions"><img src="//cdn.shopify.com/s/files/1/0098/2653/3433/t/77/assets/social-messenger.svg" ></a>-->
  </div>
</div>