
<div class="desc_container page-width">
<h2 class="desc_header">{{ section.settings.description_header }}</h2>
<div class="product_desc">
  
   {%- if product.description != blank -%}
                  <div class="product__description rte quick-add-hidden" >
                    {{ product.description }}
                  </div>
                {%- endif -%}
</div>
</div>

{% schema %}
  {
    "name": "Description Section",
    "settings": [
        {
      "type": "text",
      "id": "description_header",
      "default": "Description",
      "label": "Header"
    }
    ],
      "presets": [
    {
      "name": "Description Section",
    }
  ]
  }
{% endschema %}