/*------ BLOG  - BLOG TEMPLATE ------  */
.blog.categories {
    /* max-width: 400px!important; */
    margin: 0!important;
}

.blog.categories {
    padding-bottom: 15px; /* 30px*/ 
    border-bottom: 0px solid lightgray;
    margin-bottom: 20px;
}

@media (max-width: 749px)
.blog .c-menu-wrapper {
    text-align: left;
}
@media screen and (max-width: 749px)
.categories .c-menu-wrapper {
    justify-content: center;
}

.categories .c-menu-wrapper {
    font-size: 13px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.c-menu-wrapper {
    font-size: 13px;
    line-height: 1.2;
}
.c-menu-wrapper {
    display: flex;
    align-items: center;
}
@media (max-width: 749px)
.blog .c-menu-wrapper {
    text-align: left;
}
.blog .c-menu-wrapper {
    text-align: center;
}
.categories .c-menu-wrapper a {
    color: #555;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
}
.c-menu .material-icons {
    margin-right: 1rem;
}
i {
    font-style: italic;
}
img {
    vertical-align: middle;
}
.categories .c-menu-wrapper a {
    color: #555;
}
.categories .c-menu-wrapper a {
    color: #555;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
}
.c-menu .material-icons {
    margin-right: 1rem;
}